*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: Arial, sans-serif;
    overflow-x: hidden;

    background: linear-gradient(-45deg,#eef2f3,#dfe9f3,#d6e4f0,#eef2f3);
    background-size: 400% 400%;
    animation: bgGerak 12s ease infinite;
}

@keyframes bgGerak{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.container{
    width: 80%;
    margin: auto;
    background: white;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15,);
    text-align: center;
}
.judul{
    color: #2c3e50;
    font-size: 28px;
    overflow: hidden;
    border-right:3px solid #2c3e50;
    white-space:nowrap;
    display:inline-block;
    animation:
    typing 5s steps(60,end) forwards,
    blink .7s infinite;
}

@keyframes typing{
from{width:0}
to{width:60ch;}
}

@keyframes blink{
0%{border-color:transparent}
50%{border-color:#2c3e50}
100%{border-color:transparent}
}

.penulis{
    color: gray;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.penulis{
color:gray;
margin-top:15px;
margin-bottom:30px;
text-align: center;
}

h2{
    color:#34495e;
    margin-top:30px;
    transition:0.3s;
    text-align:left;
}

h2:hover{
transform:translateX(6px);
}

.scroll{
opacity:0;
transform:translateY(40px);
transition: all 0.8s ease;
}

.scroll.show{
opacity:1;
transform:translateY(0);
}

p{
text-align:justify;
line-height:1.8;
font-size:16px;
margin-bottom:18px;
transition:0.3s;
}

p:hover{
transform:translateX(8px);
color:#2c3e50;
}